html {
    font-family: 'Verdana', sans-serif;
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/NHwePSv.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
  }

  #fecha2{
    color: rgb(128, 128, 128);
  }

  #batt{
    color: rgb(255, 118, 118);
  }

  #presion{
    color: rgb(149, 242, 140);
  }